{% extends "layout/layoutMaster.twig" %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ DOMAIN }}">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ titulo }}</a></li>
                </ol>
                {% if 'reclamantes_criar'|verifyPermission %}
                <a href="{{ DOMAIN }}/reclamantes/add" class="btn btn-primary text-nowrap">
                    <i class="fa-solid fa-plus me-2"></i>Novo Reclamante
                </a>
                {% endif %}
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Reclamantes</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable-reclamantes" class="table dataTable align-middle">
                        <thead>
                            <tr role="row">
                                <th>Nome</th>
                                <th>Nome de Contato</th>
                                <th>Email de Contato</th>
                                <th>Telefone de Contato</th>
                                <th width="120">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Dados carregados via AJAX -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmação -->
<div class="modal fade" id="confirmModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Remoção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja remover o reclamante <strong id="nomeReclamante"></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmRemover">Sim, Remover</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ PATH }}/view/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="{{ PATH }}/view/assets/js/datatables/datatables-ajax.js"></script>
<script src="{{ PATH }}/view/assets/js/pages/datatables/reclamante-datatable.js"></script>
{% endblock %}
