<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ NAME }} - {% block title %}{% endblock %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ PATH }}/view/assets/images/favicon.png">
    <link rel="stylesheet" href="{{ PATH }}/view/assets/vendor/chartist/css/chartist.min.css"> 
    <link href="{{ PATH }}/view/assets/vendor/sweetalert/sweetalert2.min.css" rel="stylesheet">
    <link href="{{ PATH }}/view/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ PATH }}/view/assets/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="{{ PATH }}/view/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{ PATH }}/view/assets/vendor/sumoselect/sumoselect.min.css" rel="stylesheet" type="text/css">
    <link href="{{ PATH }}/view/assets/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="{{ PATH }}/view/assets/vendor/select2/css/select2.min.css" rel="stylesheet">
    <link href="{{ PATH }}/view/assets/css/app.css" rel="stylesheet">
    <link href="{{ PATH }}/view/assets/css/custom-scrollbar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="{{ PATH }}/view/assets/vendor/sweetalert/sweetalert2.min.js"></script>
    <script src="{{ PATH }}/view/assets/vendor/global/global.min.js"></script>
    <script src="{{ PATH }}/view/assets/js/app.js"></script>
</head>
<body data-domain="{{ DOMAIN }}" data-typography="poppins" data-theme-version="{{ _cookie.themeMode == 'dark' ? 'light' : 'dark' }}" data-layout="vertical" data-sidebar-style="full" data-sidebar-position="fixed" data-header-position="fixed" data-container="wide" direction="ltr">
<script>
    window.DOMAIN = '{{ DOMAIN }}';
</script>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <div id="main-wrapper">

        {{ include('inc/nav.twig') }}
        {# {{ include('inc/chatbox.twig') }} #}
        {{ include('inc/sidebar.twig') }}
        {{ include('inc/header.twig') }}

        {% block body %}{% endblock %}

    </div>
    <!-- End Page -->
 
    {{ include('inc/footer.twig') }}

    <!--**********************************
    Scripts
    ***********************************-->
    <script src="{{ PATH }}/view/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ PATH }}/view/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="{{ PATH }}/view/assets/vendor/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="{{ PATH }}/view/assets/vendor/sumoselect/sumoselect.min.js"></script>
    <script src="{{ PATH }}/view/assets/vendor/select2/js/select2.full.min.js"></script>
    <script src="{{ PATH }}/view/assets/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="{{ PATH }}/view/assets/js/jquery.mask.js"></script>
    <script src="{{ PATH }}/view/assets/js/custom.min.js"></script>
    <script src="{{ PATH }}/view/assets/js/deznav-init.js"></script>
    <script src="{{ PATH }}/view/assets/vendor/owl-carousel/owl.carousel.js"></script>
    
    {% if(page == 'home') %}
        <script src="{{ PATH }}/view/assets/vendor/peity/jquery.peity.min.js"></script>
        <script src="{{ PATH }}/view/assets/vendor/apexchart/apexchart.js"></script>
        <script src="{{ PATH }}/view/assets/js/dashboard/dashboard-1.js"></script>
    {% endif %}

    {% block scripts %}{% endblock %}

    {# {{ include('inc/script.twig') }} #}

</body>
</html>